{% extends "base.html" %}
{% block content %}
{% load static %}
<!-- Content wrapper -->
<div class="content-wrapper">
  <!-- Content -->

  <div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
      <div class="col-lg-12 mb-4">
        <div class="card">
          <div class="d-flex align-items-end row">
            <div class="col-lg-12">
              <div class="card-body">
                <h2 class="card-title text-primary">Linear Congruential Generator</h2>

                <p>
                    A linear congruential generator (LCG) is an algorithm that yields a sequence of pseudo-randomized numbers calculated with a discontinuous piecewise linear equation. The method represents one of the oldest and best-known pseudorandom number generator algorithms. The theory behind them is relatively easy to understand, and they are easily implemented and fast, especially on computer hardware which can provide modular arithmetic by storage-bit truncation.
                </p>

                <div class="card-body pb-0 px-0 px-md-4">
                    <img
                      src="{% static 'assets/img/prngLCG.svg' %}"
                      height="250"
                    />
                  </div>
                  <div class="card-body"></div>

                <p>The Linear Congruential Generator (LCG) is one of the oldest and most widely used pseudorandom number generators. It is defined by the recurrence relation:</p>

    <p>X<sub>n+1</sub> = (a * X<sub>n</sub> + c) mod m</p>

    <p>Where:</p>
    <ul>
        <li>X is the sequence of pseudorandom values</li>
        <li>m, 0 < m – the "modulus"</li>
        <li>a, 0 < a < m – the "multiplier"</li>
        <li>c, 0 ≤ c < m – the "increment"</li>
        <li>X<sub>0</sub>, 0 ≤ X<sub>0</sub> < m – the "seed" or "start value"</li>
    </ul>

    <p>LCGs are fast and easy to implement, but they have some drawbacks. The quality of the generated numbers heavily depends on the choice of the parameters a, c, and m. LCGs also have a relatively short period compared to more advanced generators.</p>

    <p>
        References
                    <br>

                <a href="https://en.wikipedia.org/wiki/Linear_congruential_generator" target="_blank" rel="noopener noreferrer" class="btn btn-sm btn-outline-primary">Linear congruential generator on Wikipedia</a>
    </p>
    <div class="col-lg-4 col-md-6">
        <small class="text-light fw-semibold">YouTube Video</small>
        <div class="mt-3">
          <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#youTubeModal"
            data-theVideo="https://www.youtube.com/embed/GtOt7EBNEwQ"
          >
            Launch Video
          </button>

          <!-- Modal -->
          <div class="modal fade" id="youTubeModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <iframe height="350" src="https://www.youtube.com/embed/GtOt7EBNEwQ"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
   

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- / Content -->


  <script src="{% static 'assets/js/prng.js' %}"></script>

{% endblock %}