{% extends "base.html" %}
{% block content %}
{% load static %}
<!-- Content wrapper -->
<div class="content-wrapper">
  <!-- Content -->

  <div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
      <div class="col-lg-12 mb-4">
        <div class="card">
          <div class="d-flex align-items-end row">
            <div class="col-lg-12">
              <div class="card-body">
                <h2 class="card-title text-primary">What is Symmetric Key Primitives?</h2>
                <p class="mb-4">In cryptography, a cipher (or cypher) is an algorithm for performing encryption or decryption—a series of well-defined steps that can be followed as a procedure. An alternative, less common term is encipherment. To encipher or encode is to convert information into cipher or code. In common parlance, "cipher" is synonymous with "code", as they are both a set of steps that encrypt a message; however, the concepts are distinct in cryptography, especially classical cryptography.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- / Content -->

{% endblock %}