{% extends "base.html" %} {% block content %} {% load static %}
<!-- Content wrapper -->
<div class="content-wrapper">
  <!-- Content -->

  <div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
      <div class="col-lg-12 mb-4">
        <div class="card">
          <div class="d-flex align-items-end row">
            <div class="col-lg-12">
              <div class="card-body">
                <h1 class="card-title text-primary">
                  Welcome to the Interactive Cryptography Visualization
                  Application
                </h1>
                <h2>About the Project</h2>
                <p>
                  This web-based application is part of a Masters dissertation
                  project in Advanced Computer Science with Artificial
                  Intelligence. The goal is to enhance cryptography education
                  through interactive visualizations of key cryptographic
                  primitives and protocols.
                </p>
                <figure class="mt-2">
                  <img src="{% static 'assets/img/cryptography.png' %}" height="500" />
                  <br><br>
                  <blockquote class="text-center blockquote">
                    <p class="mb-0"><small>Figure 1</small></p>
                  </blockquote>
                  <figcaption class="text-center blockquote-footer">
                    Duplys, P. and Schmitz, R.: <cite title="Source Title">TLS Cryptography In-Depth: Explore the intricacies of modern cryptography and the inner workings of TLS.</a></cite>
                  </figcaption>
                </figure>
                <h2>Research Question</h2>
                <p>
                  To what extent does this interactive visualization application
                  enhance student understanding, engagement, and reduce
                  mathematics anxiety with the selected cryptographic concepts
                  compared to traditional teaching methods?
                </p>
                <h2>Application Features</h2>
                <ul>
                  <li>
                    Adheres to established visualization design principles and
                    best practices for educational technologies
                  </li>
                  <li>
                    Provides step-by-step visualizations of the encryption and
                    decryption processes
                  </li>
                  <li>
                    Allows user interaction to explore and understand the
                    concepts
                  </li>
                </ul>
                <h2>Cryptographic Primitives and Protocols Covered</h2>
                <ol>
                  <li>
                    <strong>Keyless Primitives</strong>
                    <ul>
                      <li>Simple Hash Function</li>
                      <li>SHA-256 Hash</li>
                      <li>True Random Number Generator</li>
                    </ul>
                  </li>
                  <li>
                    <strong>Symmetric Key Primitives</strong>
                    <ul>
                      <li>Caesar Cipher</li>
                      <li>Vigenère Cipher</li>
                      <li>Linear Congruential Generator</li>
                    </ul>
                  </li>
                  <li>
                    <strong>Asymmetric Primitives</strong>
                    <ul>
                      <li>RSA</li>
                    </ul>
                  </li>
                </ol>
                <h2>Get Started</h2>
                <p>
                  Select a cryptographic primitive or protocol from the menu
                  to begin exploring the interactive visualizations and
                  enhance your understanding of these important cryptography
                  concepts.
                </p>

                <div class="card-body"></div>
              </div>
              <div class="card-body">
                <div id="result"></div>
              </div>
              {% comment %}
              <div class="card-body h4" id="result"></div>
              {% endcomment %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- / Content -->
<script src="{% static 'assets/js/simpleHash.js' %}"></script>

{% endblock %}
